<h1>Vincent Chan</h1>
<pre><p id='header'>See you, space cowboy...<br>
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p></pre>
<nav>
    <a href="About">About</a>
    <a href="Projects">Projects</a>
</nav>

<pre><p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p></pre>
