

/* font*/
@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech Mono'), local('ShareTechMono-Regular'), url(https://fonts.gstatic.com/s/sharetechmono/v7/RQxK-3RA0Lnf3gnnnNrAsYdJ2JT0J65PSe7wdxAnx_I.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

#header,#footer {width: 100%; overflow: hidden; letter-spacing: 0px;}
pre             {padding: 0; margin: 0 0 0 0;}
nav             {padding: 0; margin: -10px 0 -10px 0;}
body            {margin: 0% 3%; font-family: Share Tech Mono; background: black; color: grey;}
h1, h2, h3, h4, h5, a { color: white;}

